@import url('https://fonts.googleapis.com/css2?family=Delius&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Delius", cursive;
  background-color: #0f172a;
}

.pattern
{
  background-image: url("Public/hero-bg.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 0;
  position: absolute;
}

.wrapper
{
  padding: 3rem 1.25rem;
  max-width: 80rem;
  margin-inline: auto;
  z-index: 10;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
}

.app
{
  background-color: #fff;
  color: black;
  max-width: 650px;
  width: 90%;
  padding: 40px;
  border-radius: 10px;
  margin-inline: auto;
  box-shadow: 0 5px 10px -1px rgba(0,0,0,.1);
}

.app h1
{
  padding: 0 0 30px;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid gray;
}

.app .quiz
{
  
}

.app .quiz h2
{
  font-size: 1.25rem;
  font-weight: 600;
  padding: 5px 0;
  margin: 8px 0;
}

.app .quiz .btn
{
  display: block;
  padding: 15px 10px;
  width: 100%;
  text-align: left;
  border: 1px solid #000;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 1.125rem;
  outline: none;
  transition: all .25s;
}

.app .quiz .btn:hover
{
  background-color: #000;
  color: #fff;
}

#next-button
{
  background-color: #000;
  padding: 10px 30px;
  border-radius: 2px;
  color: white;
  display: block;
  margin: auto;
  margin-top: 50px;
  transition: all .3s;
}

#next-button:hover{
  background-color: #121212;
}

